.review-container {
    max-width: 1024px;
    margin: 180px auto;
    display: flex;
    align-items: center;
    gap: 144px;
}


.cart-container img {
    padding: 8px 8px 8px 8px ;
    height: 91px;
    width: 91px;
}
.review-b{
    padding: 15px 10px 15px 10px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 300ms;
}